:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container {
  width: calc(100% - 80px);
  margin: 0 auto;
}

@media all and (max-width: 1024px) {
  .container {
    width: calc(100% - 40px);
  }
} 